/* you can style everything inside here, but best practice */
/* is to separate styling by component or by related components */
.app {
    width: 100%;
    height: 100%;
}
.bMenu{
    display: block;

}
button{
    width: 20vw;
}
img{
    width: 10vw;
    height: 10vw;
   
}
.title{
    width: 10vw;
}
.topNewsHome{
    display: inline-block;
}