/* you can style everything inside here, but best practice */
/* is to separate styling by component or by related components */
.app {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
}

.display{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display-article{
    border: 1px solid black;
    margin: 16px;
    width: 30%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 5px;
    padding-bottom: 16px;
}

.display-article:hover{
    cursor: pointer;
    width: 30.5%
}

.display-article >img{
    width: 100%
}

.display-article > h4, .display-article > p{
    padding-left: 8px;
    padding-right: 8px;
    font-size: smaller;
    text-align: left;
}

@media only screen and (max-width: 599px){
    .display-article{
        width: 100%;
    }
}