/* you can style everything inside here, but best practice */
/* is to separate styling by component or by related components */
.app {
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

.linktopia {
    border: 1px solid blue;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

.imageBox {
    width: 100vw;
    text-align: center;
}

.artImage {
    width: 77vw;
}