.App {
  text-align: center;
}

.landing {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.news-container{
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 600px;
  margin: 20px 50px 10px 10px;
}

.favorites-container{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  min-width: 100px;
  margin: 10px auto;
  text-align: center;
}