body {
  max-width: 80vw;
}

li {
  /* list-style-type: none; */
}

input {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 1rem auto;
}

header {
  margin-bottom: 2rem;
}
#root {
  text-align: center;
  /* line-height: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 4vw;
}
