@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap');

.App {
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchContainer {
  padding: 50px 0 25px 0;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px;
}

.searchInput {
  font-size: 25px;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 2px solid black;
  font-size: 20px;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.img {
  max-width: 75%;
}

.favContainer {
  list-style-type: none;
}